{% set context = edit is defined ? 'phone.edit_title'|trans : 'phone.add_title'|trans  %}
{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | {{ context }}{% endblock %}

{% block context %} {{ context }} {% endblock %}

{% block body %}
    {{ form_start(form) }}
    <div class="row m-2 block-shadow-10 form-wrapper">
        <div class="col-12 ml-2">
            <h4>{{ context }}</h4>
            <div class="form-group row pl-3 pr-3">
                {{ form_label(form.number, null, { 'label_attr': {'class': 'col-sm-2 col-form-label font-weight-bold'} }) }}
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-12">
                        {{ form_widget(form.number, { 'attr': {'class': 'form-control form-control-md'} }) }}
                        </div>
                        <div class="col-sm-12 form-text text-muted ml-4">
                            {{ form_errors(form.number) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row pl-3 pr-3">
                {{ form_label(form.moscownumber, null, { 'label_attr': {'class': 'col-sm-2 col-form-label font-weight-bold'} }) }}
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-12">
                    {{ form_widget(form.moscownumber, { 'attr': {'class': 'form-control form-control-md'} }) }}
                        </div>
                        <div class="col-sm-12 form-text text-muted ml-4">
                            {{ form_errors(form.moscownumber) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row pl-3 pr-3">
                {{ form_label(form.location, null, { 'label_attr': {'class': 'col-sm-2 col-form-label font-weight-bold'} }) }}
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-12">
                    {{ form_widget(form.location, { 'attr': {'class': 'form-control form-control-md'} }) }}
                        </div>
                        <div class="col-sm-12 form-text text-muted ml-4">
                            {{ form_errors(form.location) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row pl-3 pr-3">
                {{ form_label(form.name, null, { 'label_attr': {'class': 'col-sm-2 col-form-label font-weight-bold'} }) }}
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-12">
                    {{ form_widget(form.name, { 'attr': {'class': 'form-control form-control-md'} }) }}
                        </div>
                        <div class="col-sm-12 form-text text-muted ml-4">
                            {{ form_errors(form.name) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row pl-3 pr-3">
                {{ form_label(form.contactnumber, null, { 'label_attr': {'class': 'col-sm-2 col-form-label font-weight-bold'} }) }}
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-12">
                    {{ form_widget(form.contactnumber, { 'attr': {'class': 'form-control form-control-md'} }) }}
                        </div>
                        <div class="col-sm-12 form-text text-muted ml-4">
                            {{ form_errors(form.contactnumber) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row pl-3 pr-3">
                {{ form_label(form.ip, null, { 'label_attr': {'class': 'col-sm-2 col-form-label font-weight-bold'} }) }}
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-12">
                    {{ form_widget(form.ip, { 'attr': {'class': 'form-control form-control-md'} }) }}
                        </div>
                        <div class="col-sm-12 form-text text-muted ml-4">
                            {{ form_errors(form.ip) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row pl-3 pr-3">
                {{ form_label(form.login, null, { 'label_attr': {'class': 'col-sm-2 col-form-label font-weight-bold'} }) }}
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-12">
                    {{ form_widget(form.login, { 'attr': {'class': 'form-control form-control-md'} }) }}
                        </div>
                        <div class="col-sm-12 form-text text-muted ml-4">
                            {{ form_errors(form.login) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row pl-3 pr-3">
                {{ form_label(form.password, null, { 'label_attr': {'class': 'col-sm-2 col-form-label font-weight-bold'} }) }}
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-12">
                    {{ form_widget(form.password, { 'attr': {'class': 'form-control form-control-md'} }) }}
                        </div>
                        <div class="col-sm-12 form-text text-muted ml-4">
                            {{ form_errors(form.password) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row pl-3 pr-3">
                {{ form_label(form.notes, null, { 'label_attr': {'class': 'col-sm-2 col-form-label font-weight-bold'} }) }}
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-12">
                    {{ form_widget(form.notes, { 'attr': {'class': 'form-control form-control-md'} }) }}
                        </div>
                        <div class="col-sm-12 form-text text-muted ml-4">
                            {{ form_errors(form.notes) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row pl-3 pr-3">
                <div class="col-sm-12">
                    {{ form_widget(form.save, { 'attr': {'class': 'btn btn-primary btn-primary-sham'} }) }}
                    <div class="btn btn-primary btn-primary-sham m-1">
                        <a href="{{ path('phone_default') }}">
                            {{ 'phone_form.back'|trans }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}