{% set context = edit is defined ? 'phone.edit_title'|trans : 'phone.add_title'|trans  %}
{% set context =  context ~ ' ' ~ (form.vars.value.number is defined?form.vars.value.number:'') %}
{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | {{ context }}{% endblock %}

{% block context %} {{ context }} {% endblock %}

{% block breadcrumbs %}
<div class="mt-2">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            {% set breadcrumbs = knp_menu_get_breadcrumbs_array(knp_menu_get_current_item('main')) %}
            {% for breadcrumb in breadcrumbs %}
                <li class="breadcrumb-item"><a href="{{ breadcrumb.uri }}">{{ breadcrumb.label|trans }}</a></li>
            {% endfor %}
            <li class="breadcrumb-item active" aria-current="page">{{ context }}</li>
        </ol>
    </nav>
</div>
{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <div class="row m-0 block-shadow-10 form-wrapper">
        <div class="col-12 ml-2">
            <h4>
                {{ context }}
            </h4>
            <div class="form-group row pl-3 pr-3">
                {{ form_label(form.number) }}
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-12">
                            {{ form_widget(form.number) }}
                        </div>
                        <div class="col-sm-12 form-text text-muted ml-4">
                            {{ form_errors(form.number) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row pl-3 pr-3">
                {{ form_label(form.moscownumber) }}
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-12">
                            {{ form_widget(form.moscownumber) }}
                        </div>
                        <div class="col-sm-12 form-text text-muted ml-4">
                            {{ form_errors(form.moscownumber) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row pl-3 pr-3">
                {{ form_label(form.location) }}
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-12">
                            {{ form_widget(form.location) }}
                        </div>
                        <div class="col-sm-12 form-text text-muted ml-4">
                            {{ form_errors(form.location) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row pl-3 pr-3">
                {{ form_label(form.contactnumber) }}
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-12">
                            {{ form_widget(form.contactnumber) }}
                        </div>
                        <div class="col-sm-12 form-text text-muted ml-4">
                            {{ form_errors(form.contactnumber) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row pl-3 pr-3">
                {{ form_label(form.name) }}
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-12">
                            {{ form_widget(form.name) }}
                        </div>
                        <div class="col-sm-12 form-text text-muted ml-4">
                            {{ form_errors(form.name) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row pl-3 pr-3">
                {{ form_label(form.ip) }}
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-12">
                            {{ form_widget(form.ip) }}
                        </div>
                        <div class="col-sm-12 form-text text-muted ml-4">
                            {{ form_errors(form.ip) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row pl-3 pr-3">
                {{ form_label(form.login) }}
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-12">
                            {{ form_widget(form.login) }}
                        </div>
                        <div class="col-sm-12 form-text text-muted ml-4">
                            {{ form_errors(form.login) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row pl-3 pr-3">
                {{ form_label(form.password) }}
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-12">
                            {{ form_widget(form.password) }}
                        </div>
                        <div class="col-sm-12 form-text text-muted ml-4">
                            {{ form_errors(form.password) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row pl-3 pr-3">
                {{ form_label(form.notes) }}
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-12">
                            {{ form_widget(form.notes) }}
                        </div>
                        <div class="col-sm-12 form-text text-muted ml-4">
                            {{ form_errors(form.notes) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row pl-3 pr-3">
                {{ form_widget(form.save) }}
                <div class="btn btn-primary btn-primary-sham m-1">
                    <a href="{{ app.request.server.get('HTTP_REFERER') }}">
                        {{ 'Back'|trans }}
                    </a>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}

