{% extends 'base.html.twig' %}
{% if searchType is not defined %}
    {% set searchType = 'none' %}
{% endif %}
{% block title %}
    {{ parent() }} |
    {% if user is defined %}
        Информация о пользователе {{ user.id }}
    {% elseif users is defined %}
        Результаты поиска
    {% else %}
        База пользователей Истранет
    {% endif %}
{% endblock %}

{% block context %}
    База пользователей Истранет
{% endblock %}

{% block header %}
<nav class="navbar navbar-dark bg-nav2 m-0 p-0 justify-content-start">
    <form method="POST" action="{{ path('search') }}" class="form-inline">
        <label for="type" class="col-auto col-form-label col-form-label-sm text-light mt-1 mb-1 pr-1">Поиск по</label>
        <select name="type" class="form-control form-control-sm m-1">
            <option value="id" {{ searchType == 'id' ? 'selected'}}>ID</option>
            <option value="fullname" {{ searchType == 'fullname' ? 'selected'}}>Фамилии</option>
            <option value="login" {{ searchType == 'login' ? 'selected'}}>Логину</option>
            <option value="ip" {{ searchType == 'ip' ? 'selected'}}>IP</option>
            <option value="address" {{ searchType == 'address' ? 'selected'}}>Адресу</option>
            <option value="phone" {{ searchType == 'phone' ? 'selected'}}>Номеру телефона</option>
        </select>
        <input type="text" name="value" required="required" class="form-control form-control-sm m-1" placeholder="введите для поиска...">
        <button type="submit" value="Найти" id="search-button" class="btn btn-primary btn-sm btn-primary-sham m-1">Найти <i class="fa fa-search" aria-hidden="true"></i></button>
    </form>
    {% if callform is defined %}
    {{ form_start(callform, {'attr': {'class': 'form-inline pl-4', "action": path("search.add-call") }}) }}
        {{ form_label(callform.call_type, null, {'label_attr': {'class': 'text-light'}}) }}
        {{ form_widget(callform.call_type, {'attr': {'class': 'm-1 form-control-sm'}}) }}
        {{ form_widget(callform.add) }}
    {{ form_end(callform) }}
    {% endif %}
</nav>
{% endblock %}

{% block breadcrumbs %}
    <div class="mt-2">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                {% set breadcrumbs = knp_menu_get_breadcrumbs_array(knp_menu_get_current_item('main')) %}
                {% for breadcrumb in breadcrumbs %}
                    {% if user is defined %}
                        <li class="breadcrumb-item"><a href="{{ breadcrumb.uri }}">{{ breadcrumb.label|trans }}</a></li>
                    {% else %}
                        {% if not loop.last %}
                            <li class="breadcrumb-item"><a href="{{ breadcrumb.uri }}">{{ breadcrumb.label|trans }}</a></li>
                        {% else %}
                            <li class="breadcrumb-item active">{{ breadcrumb.label|trans }}</li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                {% if user is defined %}
                    <li class="breadcrumb-item active">{{ user.fullName }}</li>
                {% endif %}
            </ol>
        </nav>
    </div>
{% endblock %}

{% block body %}
    <div class="row m-0">
        {% if user is defined %}
        {{ include('Utm/userinfo.html.twig', {'user': user}) }}
        {% endif %}
        {% if users is defined %}
            {{ include('Utm/usersinfo.html.twig', {'users': users}) }}
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('userinfo') }}
{% endblock %}
