{% if app.session.get('hide_block_last_payments') is defined and app.session.get('hide_block_last_payments') == true %}
    {% set isHidden = true %}
{% endif %}
<div class="last-payments-container table-responsive-sm table-responsive">
    <table class="last-payments-table generic-table">
        <caption class="pt-0 pb-0">
            Последние платежи
            <div class="show-hide-button"
                 id="last_payments"
                 data-iconclass='{"visible_class":"fa-minus","hidden_class":"fa-plus"}'
                 data-state="{{ isHidden is defined ? 'hidden': 'visible'}}">
                <i class="fa {{ isHidden is defined ? 'fa-plus' : 'fa-minus' }}" aria-hidden="true"></i>
            </div>
        </caption>
        <thead {{ isHidden is defined ? 'class="d-none"' }}>
        <tr>
            <th>Сумма</th>
            <th>Дата</th>
            <th>Номер транзакции</th>
            <th>Метод</th>
            <th>Пользователь</th>
            <th>Комментарии</th>
        </tr>
        </thead>
        <tbody {{ isHidden is defined ? 'class="d-none"' }}>
        {% for payment in payments %}
        <tr>
            <td>{{ payment.amount }}</td>
            <td>{{ payment.date|date('d-m-Y H:i:s') }}</td>
            <td>{{ payment.transactionNumber }}</td>
            <td>{{ payment.method }}</td>
            <td>{{ payment.receiver }}</td>
            <td>{% if payment.userComment|length %}Для пользователя: {{ payment.userComment }}{% endif %}<br></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>



