<div class="user-info-block col-12 col-sm-6 col-md-6 col-lg-6 col-xl-4 p-2">
    <div class="{% if user.passport is empty%}user-info-block-warn-inner{% else %}user-info-block-main-inner{% endif %} pt-2 pb-2 pl-3 pr-3">
        <h4>Основная информация</h4>
        <ol>
            <li><span>ID</span>: {{ user.id }}</li>
            <li><span>Имя</span>: {{ user.fullName }}</li>
            <li><span>Логин</span>: {{ user.login }}</li>
            <li><span>Пароль</span>: <span class="password" onclick="this.innerHTML='{{ user.password }}'">Показать</span></li>
            <li><span>Лицевой счет</span>: {{ user.account }}</li>
            {% if user.juridicalAddress %}<li><span>Юр. адрес</span>: {{ user.juridicalAddress }}</li>{% endif %}
            <li>{% if user.passport is not empty %}<span>Паспортные данные:</span> {{ user.passport }}{% else %}<h4>Необходимо заполнить паспортные данные</h4>{% endif %}</li>
            <li><span>Адрес дома</span>: {{ user.actualAddress }}</li>
            <li><span>Фактический адрес</span>: {{ user.address }}</li>
            {% if user.homePhone is not null %}<li><span>Домашний телефон</span>:{{ user.homePhone }}</li>{% endif %}
            {% if user.workPhone is not null %}<li><span>Рабочий телефон</span>: {{ user.workPhone }}</li>{% endif %}
            <li>
                <div class="row pl-3">
                <span>Мобильный телефон: &nbsp;</span>
                <div class="x-editable"
                     data-mode="inline"
                     data-inputclass="form-control form-control-sm pr-0"
                     data-type="text"
                     data-emptytext="нет данных"
                     data-value="{{ user.mobilePhone }}"
                     data-pk="{{ user.id }}"
                     data-name="mobile_phone"
                     data-url="{{ path('user_change_editable_field') }}"
                ></div>
                </div>
            </li>
            <li><span>Дата подключения</span>: {{ user.created|date("d-m-Y") }}</li>
        </ol>
            <h4>Дополнительная информация</h4>
        <ol>
        {% if user.lifestreamLogin is not empty %}
            <li><span>Lifestream login: </span> {{ user.lifestreamLogin }}</li>
        {% endif %}
            <li>
                <span>Напоминать об оплате:</span>
                <a class="ajax-switch-field"
                   href="{{ path('utm_change_remindme', {'id': user.id,}) }}"
                   data-success="{% if user.remindMe is not empty %}Нет{% else %}<span class=&quot;itu-green&quot;>Да</span>{% endif %}">
                    {% if user.remindMe is not empty %}
                        <span class="itu-green">Да</span>
                    {% else %}
                        Нет
                    {% endif %}
                </a>
            </li>
        </ol>
    </div>
</div>
<div class="user-info-block col-12 col-sm-6 col-md-6 col-lg-6 col-xl-4 p-2">
    <div class="user-info-block-inner pt-2 pb-2 pl-3 pr-3">
        <h4>Статус пользователя</h4>
        <ol>
            <li>
                <span>Статус интернет</span> :
                <a class="ajax-switch-field"
                   href="{{ path('utm_change_intstatus', {'id': user.id, 'status': user.internetStatus }) }}"
                   data-success="{% if user.internetStatus %}Выключен{% else %}<span class=&quot;itu-green&quot;>Включен</span>{% endif %}">
                    {%  if user.internetStatus %}
                        <span class="itu-green">Включен</span>
                    {% else %}
                        Выключен
                    {% endif %}
                </a>
            </li>
            <li>
                <span>Баланс</span> : {{ user.balance }}
            </li>
            {% if user.promisedPayment %}
                <li>
                    <span>Обещанный платеж взят</span> : {{ user.promisedPayment.StartDate|date('d-m-Y H:i:s') }}
                </li>
                <li>
                    <span>Обещанный платеж истекает</span> : {{ user.promisedPayment.ExpireDate|date('d-m-Y H:i:s') }}
                </li>
                <li>
                    <span>Сумма обещанного платежа</span> : {{ user.promisedPayment.amount }}
                </li>
                {% if user.credit != user.promisedPayment.amount %}
                    <li>
                        <span>Кредит</span> : {{ user.credit }}
                    </li>
                {% endif %}
            {% else %}
            <li>
                <span>Кредит</span> : {{ user.credit }}
            </li>
            {% endif %}
            <li>
                <span>Рекомендуемый платеж</span> : {{ user.requirementPayment }}
            </li>
            <li>
                <span>Тип блокировки</span> : {{ user.block|trans }}
            </li>
        </ol>
        <h4>IP адреса</h4>
        <ol>
            {% for ip in user.ips %}
                <li>{{ ip }}</li>
            {% endfor %}
                <li><span>WAN</span>: {{ user.ips6['wan'] }}</li>
                <li><span>Local Net</span>: {{ user.ips6['local_net'] }}</li>
        </ol>
        <h4>Цепочка свичей</h4>
        <ol>
            <li>{% if user.chain is not empty %}{{ user.chain|raw }} {% else %} Нет данных {% endif %}</li>
        </ol>

    </div>
</div>
<!--
<div class="user-info-block user-info-block-zabbix col-12 col-sm-12 col-md-12 col-lg-12 col-xl-3 p-2">
    <div class="user-info-block-inner user-info-block-zabbix-notices pt-2 pb-2 pl-3 pr-3">
        <div>
        <h4>Уведомления Zabbix</h4>
        <ol>
            <li><span>Заголовок</span>
                <p>Текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
                    текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
                    текст текст текст текст текст текст текст текст текст текст текст текст</p></li>
        </ol>
        <ol>
            <li><span>Заголовок</span>
                <p>Текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
                    текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
                    текст текст текст текст текст текст текст текст текст текст текст текст</p></li>
        </ol>
        </div>
    </div>
</div>
-->
<div class="w-100"></div>
<div class="user-info-block col-12 col-sm-6 col-md-6 col-lg-6 col-xl-4 p-2">
    <div class="user-info-block-inner pt-2 pb-2 pl-3 pr-3">
    <h4>Тарифные планы</h4>
    <ol>
        {% set sum = 0 %}
        {% for tariff in user.tariffs %}
            {% set sum = sum + tariff.services.costSummary %}
            <li>
                <span>Актуальный: </span>{{ tariff.name }}
            </li>
            <li>
                <span>Следующий: </span>{{ tariff.nextName }}
            </li>
            <li>
                <h5>Услуги</h5>
                <ol>
                    {% for service in tariff.services %}
                        <li>
                            <span class="font-weight-bold">{{ service.name }}:</span>
                            {{ service.cost }} р./мес.
                        </li>
                    {% endfor %}
                </ol>
            </li>
            <li>
                <h5>Рассчетный период</h5>
                <ol>
                    <li>
                        <span>Номер: </span>{{ tariff.discountPeriod.id }}
                    </li>
                    <li>
                        <span>Интервал: </span>{{ tariff.discountPeriod.start|date("d-m-Y") }} - {{ tariff.discountPeriod.end|date("d-m-Y") }}
                    </li>
                </ol>
            </li>
            <hr class="col-xs-12">
        {% endfor %}
        <li><span>Общий ежемесячный платеж:</span> {{ sum }} р./мес.</li>
    </ol>
        {% if user.services is not null %}
    <h4>Дополнительные услуги</h4>
    <ol>
        {% set sum = 0 %}
        {% for service in user.services %}
            {% set sum = sum + service.cost %}
            <li>
                <span class="font-weight-bold">{{ service.service_name }}:</span>
                {{ service.cost }} р/мес.
            </li>
        {% endfor %}
        <li><span class="font-weight-bold">Всего:</span> {{ user.services.costSummary }} р/мес.</li>
    </ol>
        {% endif %}
    </div>
</div>
<div class="user-info-block col-12 col-sm-6 col-md-6 col-lg-6 col-xl-4 p-2">
    <div class="user-info-block-inner pt-2 pb-2 pl-3 pr-3">
    <h4>Группы пользователя</h4>
    <ol>
        {% for group in user.groups %}
            <li>{{ group.id }} - {{ group.name }}</li>
        {% endfor %}
    </ol>
    <h4>Информация о сервере</h4>
    <ol>
        {% for router in user.routers %}
        <li>{{ router.name }} : {{ router.ip }}</li>
        {% endfor %}
    </ol>
    </div>
</div>

{% if user.utmComments is defined %}
    <div class="user-info-block col-12 col-sm-12 col-md-12 col-lg-12 col-xl-3 p-2">
        <div class="user-info-block-inner user-info-block-utm5-comments pt-2 pb-2 pl-3 pr-3">
            <h4>Комментарии в UTM5</h4>
            <ol>
                <li>{{ user.utmComments }}</li>
            </ol>
        </div>
    </div>
{% endif %}
<div class="w-100"></div>
<div class="user-info-block col-12 col-sm-6 col-md-6 col-lg-6 col-xl-4 p-2">
    <div class="user-info-block-inner comments-block inner pt-2 pb-2 pl-3 pr-3">
    <h4>Комментарии</h4>
    {% if user.comments|length > 0 %}
        <button id="view-comments"
                data-toggle="show-hide-block"
                data-target="#comments-container"
                data-show="Скрыть"
                data-hide="Показать"
                class="btn btn-primary btn-sm btn-primary-sham show-hide-comments">Показать</button>
    {% endif %}
    {{ form_start(form, {'attr': {'class': '', 'action': path('utm5_user_comment_add')} }) }}
        {{ form_widget(form.utmId) }}
        <div class="form-row">
            <div class="col-sm-5">
    {{ form_widget(form.comment) }}
            </div>
            <div class="col-sm-5">
    {{ form_widget(form.save) }}
            </div>
        </div>
    {{ form_end(form) }}
        <div id="comments-container" class="comments-container">
            <ul>
                {% for comment in user.comments %}
                    <li>{{ comment.comment }}
                        <br><i>{{ comment.datetime|date('d-m-Y H:i') }}-{{ comment.userid.fullname }}</i>
                        <a data-toggle="confirmation" class="comment-delete" href="{{ path('utm5_user_comment_delete', {'id': comment.id}) }}">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<div class="user-info-block add-order-block col-12 col-sm-6 col-md-6 col-lg-6 col-xl-4 p-2">
    <div class="user-info-block-inner pt-2 pb-2 pl-3 pr-3">
    <h4>Действия</h4>
        <h5>Создание заявки</h5>
    <form  method="POST" action="{{  path('order_add') }}">
        <input type="hidden" name="create" value="full">
        <input type="hidden" name="id" value="{{ user.id }}">
        <div class="form-row">
            <div class="col-sm-5">
            <input class="form-control form-control-sm" type="text" name="comment" value="" placeholder="оставьте комментарий...">
            </div>
            <div class="col-sm-5">
            <button class="btn btn-primary btn-sm btn-primary-sham" name="createorder" type="submit">{{ 'Add order'|trans }}</button>
            </div>
        </div>
    </form>
        <h5>Отправка СМС</h5>
        {{ form_start(smsForm, {'attr': {'class': '', 'action': path('sms_sendtemplate')} }) }}
        <div class="form-row mt-2">
            <div class="col-sm-4">
                {{ form_widget(smsForm.phone) }}
            </div>
            <div class="col-sm-4">
                {{ form_widget(smsForm.smsTemplate) }}
            </div>
            <div class="col-sm-4">
                {{ form_widget(smsForm.send) }}
            </div>
        </div>
        {{ form_end(smsForm) }}
    </div>
</div>
{% if diagnostic is defined %}
    <div class="user-info-block add-order-block col-12 col-sm-12 col-md-12 col-lg-12 col-xl-8 p-2">
        {{ diagnostic|raw }}
    </div>
{% endif %}

{% if user.payments|length %}
    <div class="user-info-block add-order-block col-12 col-sm-12 col-md-12 col-lg-12 col-xl-8 p-2">
    {{ include('Utm/last-payments.html.twig', {'payments': user.payments}) }}
    </div>
{% endif %}

{% if last_orders is defined %}
    <div class="user-info-block add-order-block col-12 col-sm-12 col-md-12 col-lg-12 col-xl-8 p-2">
    {{ last_orders|raw }}
</div>
{% endif %}
<!--
<div class="user-info-block user-info-block-zabbix2 col-12 col-sm-12 col-md-12 col-lg-12 col-xl-3 p-2" style="display: none;">
    <div class="user-info-block-inner user-info-block-zabbix-notices pt-2 pb-2 pl-3 pr-3">
        <h4>Уведомления Zabbix</h4>
        <ol>
            <li><span>Заголовок</span>
                <p>Текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
                    текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
                    текст текст текст текст текст текст текст текст текст текст текст текст</p></li>
        </ol>
        <ol>
            <li><span>Заголовок</span>
                <p>Текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
                    текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
                    текст текст текст текст текст текст текст текст текст текст текст текст</p></li>
        </ol>
    </div>
</div>
-->
