{% extends 'base.html.twig' %}
{% block title %}
    Количество пользователей онлайн
{% endblock %}
{% block context %}
    Количество пользователей онлайн
{% endblock %}

{% block breadcrumbs %}
    <div class="mt-2">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                {% set breadcrumbs = knp_menu_get_breadcrumbs_array(knp_menu_get_current_item('main')) %}
                {% for breadcrumb in breadcrumbs %}
                    {% if not loop.last %}
                        <li class="breadcrumb-item"><a href="{{ breadcrumb.uri }}">{{ breadcrumb.label|trans }}</a></li>
                    {% else %}
                        <li class="breadcrumb-item active">{{ breadcrumb.label|trans }}</li>
                    {% endif %}
                {% endfor %}
            </ol>
        </nav>
    </div>
{% endblock %}

{% block body %}
    <div class="row p-0 m-0 pb-2">
    {% set menu = knp_menu_get('main') %}
    {{ knp_menu_render(menu['Control']['Statistics'],  {'currentAsLink': true, 'currentClass': 'active', 'template': "widget\\tab-menu\\menu.html.twig"}) }}
    </div>
    <div class="row m-0 pt-2">
    {% for server, data in graphData %}
        <div class="col-lg-6 col-md-12 pb-3">
            <canvas {{ hourly is defined? 'data-hourly="true"'}} class="graph" data-server="{{ server|trans }}" data-labels="{{ data.hours }}" data-counts="{{ data.counts }}" style="background: rgb(230,230,230);" width="280" height="100"></canvas>
        </div>
    {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('statistics') }}
{% endblock %}
