{% extends 'base.html.twig' %}
{% block title %}
    Количество устройств онлайн
{% endblock %}
{% block context %}
    Количество устройств онлайн
{% endblock %}

{% block breadcrumbs %}
    <div class="mt-2">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                {% set breadcrumbs = knp_menu_get_breadcrumbs_array(knp_menu_get_current_item('main')) %}
                {% for breadcrumb in breadcrumbs %}
                    {% if not loop.last %}
                        <li class="breadcrumb-item"><a href="{{ breadcrumb.uri }}">{{ breadcrumb.label|trans }}</a></li>
                    {% else %}
                        <li class="breadcrumb-item active">{{ breadcrumb.label|trans }}</li>
                    {% endif %}
                {% endfor %}
            </ol>
        </nav>
    </div>
{% endblock %}

{% block body %}
    <div class="row p-0 m-0 pb-2">
    {% set menu = knp_menu_get('main') %}
    {{ knp_menu_render(menu['Control']['Statistics'],  {'currentAsLink': true, 'currentClass': 'active', 'template': "widget\\tab-menu\\menu.html.twig"}) }}
    </div>
    <div class="row">
        <div class="auto">
            <form class="form-inline" method="GET" action="{{ path('statistics.show.online-for-day') }}">
                <label class="col-auto col-form-label col-form-label-sm text-light mt-1 mb-1 pr-1" for="month">Выберите день</label>
                <div class="input-group date">
                    <input name="date" type="date" class="form-control">
                    <div class="input-group-append">
                        <div class="input-group-text "><i class="fas fa-calendar-alt"></i></div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-auto">
            <form class="form-inline" method="GET" action="{{ path('statistics.show.online-for-week') }}">
                <label class="col-auto col-form-label col-form-label-sm text-light mt-1 mb-1 pr-1" for="month">Выберите неделю</label>
                <div class="input-group date">
                    <input name="week" type="week" min="2018-W18" max="2018-W26" class="form-control">
                    <div class="input-group-append">
                        <div class="input-group-text "><i class="fas fa-calendar-alt"></i></div>
                    </div>
                </div>
            </form>
        </div>
        <div class="auto">
            <form class="form-inline" method="GET" action="{{ path('statistics.show.online-for-month') }}">
                <div class="input-group date">
                    <label class="col-auto col-form-label col-form-label-sm text-light mt-1 mb-1 pr-1" for="month">Выберите месяц</label>
                    <input name="month" type="month" class="form-control">
                    <div class="input-group-append">
                        <div class="input-group-text "><i class="fas fa-calendar-alt"></i></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row m-0 pt-2">
    {% for server, data in graphData %}
        <div class="col-lg-6 col-md-12 pb-3">
            <canvas {{ hourly is defined? 'data-hourly="true"'}}
                    class="graph"
                    data-label="{{ 'Пользователи онлайн' }}"
                    data-server="{{ server|trans }}"
                    data-max="{{ data.max }}"
                    data-min="{{ data.min }}"
                    data-labels="{{ data.hours }}"
                    data-counts="{{ data.counts }}"
                    style="background: rgb(230,230,230);"
                    width="280"
                    height="100"></canvas>
        </div>
    {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('statistics') }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('statistics') }}
{% endblock %}

