{% extends 'base.html.twig' %}
{% block title %}
    Статистика платежей за последние 36 месяцев
{% endblock %}
{% block context %}
    Статистика платежей за последние 36 месяцев
{% endblock %}

{% block breadcrumbs %}
    <div class="mt-2">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                {% set breadcrumbs = knp_menu_get_breadcrumbs_array(knp_menu_get_current_item('main')) %}
                {% for breadcrumb in breadcrumbs %}
                    {% if not loop.last %}
                        <li class="breadcrumb-item"><a href="{{ breadcrumb.uri }}">{{ breadcrumb.label|trans }}</a></li>
                    {% else %}
                        <li class="breadcrumb-item active">{{ breadcrumb.label|trans }}</li>
                    {% endif %}
                {% endfor %}
            </ol>
        </nav>
    </div>
{% endblock %}

{% block body %}
    <div class="row p-0 m-0 pb-2">
        {% set menu = knp_menu_get('main') %}
        {#{{ knp_menu_render(menu['Control']['Statistics'],  {'currentAsLink': true, 'currentClass': 'active', 'template': "widget\\tab-menu\\menu.html.twig"}) }}#}
    </div>
    <div class="row m-0 pt-2">
        <div class="col-6">
        <table class="table  table-bordered table-striped table-hover bg-light">
            <caption class="bg-light pl-3"><a href="{{ path("statistics.show.payments-sum.csv") }}">Скачать csv</a></caption>
            <tr>
                <th class="p-2">Период</th>
                <th class="p-2">Количество плательщиков</th>
                <th class="p-2">Сумма, всего</th>
                <th class="p-2">Отрицательные</th>
                <th class="p-2">Сумма, с отрицательными</th>
            </tr>
        {% for row in data %}
            <tr>
                <td class="p-2">{{ row.month }}</td>
                <td class="p-2">{{ row.count }}</td>
                <td class="p-2">{{ row.plus }}</td>
                <td class="p-2">{{ row.minus }}</td>
                <td class="p-2">{{ row.all }}</td></tr>
        {% endfor %}
        </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('payments_statistics') }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('payments_statistics') }}
{% endblock %}

