{% extends 'base.html.twig' %}
{% trans_default_domain 'sber' %}

{% block title %} {{ parent() }} | {{ 'payments.title'|trans }}{% endblock %}

{% block context %}
    {{ 'payments.title'|trans }}
{% endblock %}

{% block header %}
    <nav class="navbar navbar-dark bg-nav2 m-0 p-0">
        {{ form_start(filterForm, {'attr': {'class': 'form-inline'} }) }}
        <div class="form-group pl-3">
            {{ form_label(filterForm.userId, null, {'label_attr': {'class': 'text-light'}}) }}
            {{ form_widget(filterForm.userId, {'attr': {'class': 'form-control-sm mx-sm-2'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(filterForm.transaction,null, {'label_attr': {'class': 'text-light'}}) }}
            {{ form_widget(filterForm.transaction, {'attr': {'class': 'form-control-sm mx-sm-2'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(filterForm.interval,null, {'label_attr': {'class': 'text-light'}}) }}
            {{ form_widget(filterForm.interval, {'attr': {'class': 'form-control-sm mx-sm-2'}}) }}
        </div>
        <button type="submit" class="btn btn-primary btn-sm btn-primary-sham">{{ 'Search'|trans }}</button>
        <a href="{{ path('sberbank') }}" class="btn btn-sm btn-secondary ml-1">{{ 'Reset'|trans }}</a>
        {{ form_end(filterForm) }}
    </nav>
{% endblock %}

{% block breadcrumbs %}
    <div class="mt-2">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                {% set breadcrumbs = knp_menu_get_breadcrumbs_array(knp_menu_get_current_item('main')) %}
                {% for breadcrumb in breadcrumbs %}
                    {% if not loop.last %}
                        <li class="breadcrumb-item"><a href="{{ breadcrumb.uri }}">{{ breadcrumb.label|trans }}</a></li>
                    {% else %}
                        <li class="breadcrumb-item active">{{ breadcrumb.label|trans }}</li>
                    {% endif %}
                {% endfor %}
            </ol>
        </nav>
    </div>
{% endblock %}

{% block body %}
    {% if payments is not null %}
    <table class="isup-table isup-table-bordered isup-table-wide isup-table-zebra isup-table-vert-margin isup-table-hovered">
        <caption>{{ 'log.found_items'|trans }}</caption>
        <thead class="table-primary">
        <tr>
            <th>{{ knp_pagination_sortable(payments, 'payments.uid'|trans, 'userId') }}</th>
            <th>{{ knp_pagination_sortable(payments, 'payments.pay_num'|trans, 'transaction') }}</th>
            <th>{{ knp_pagination_sortable(payments, 'payments.amount'|trans, 'amount') }}</th>
            <th>{{ knp_pagination_sortable(payments, 'payments.pay_date'|trans, 'created') }}</th>
        </tr>
        </thead>
        <tbody>
        {% for payment in payments %}
            <tr {%  if payment.logCount > 1 %}class="table-danger"{% endif %}>
                <td><a href="{{ path('search.by.data', {'type': 'id', 'value': payment.userId }) }}">{{ payment.userId }}</a></td>
                <td><a href="{{ path('sberbank.log', {'transaction': payment.transaction}) }}">{{ payment.transaction }}</a></td>
                <td>{{ payment.amount }}</td>
                <td>{{ payment.created | date('Y-m-d') }} {{ payment.created|date('H:i:s') }}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td colspan="5">{{ 'log.items_found'|trans }}: {{ payments.getTotalItemCount }}</td>
        </tr>
        </tfoot>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(payments, null, {}, {'align': 'center', 'size': 'small'}) }}
    </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('sberbank') }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('sberbank') }}
{% endblock %}

