{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | {{ 'vlan.title_list'|trans }}{% endblock %}

{% block context %}
    {{ 'vlan.title_list'|trans }}
{% endblock %}

{% block header %}
    <nav class="navbar navbar-dark bg-nav2 m-0 p-0">
        {{ form_start(vlan_filter_form, {'action': path('vlan_find_process'), 'attr': {'class': 'form-inline'} }) }}
        {{ form_label(vlan_filter_form.search) }}
        {{ form_widget(vlan_filter_form.search) }}
        {{ form_widget(vlan_filter_form.submit_button) }}
        {{ form_end(vlan_filter_form) }}
    </nav>
{% endblock %}

{% block body %}
    <div class="row justify-content-center ml-0 mr-0 mt-1">
        <div class="col-xl-10 col-lg-12 p-2">
            <table class="isup-table isup-table-bordered isup-table-zebra isup-table-wide  isup-table-center isup-table-header-nowrap">
                <caption>{{ 'vlan.title_list'|trans }}</caption>
                <tbody>
                <tr>
                    <th>{{ knp_pagination_sortable(vlans, 'vlan.number'|trans, 'number') }}</th>
                    <th>{{ knp_pagination_sortable(vlans, 'vlan.name'|trans, 'name') }}</th>
                    <th>{{ knp_pagination_sortable(vlans, 'vlan.points'|trans, 'points') }}</th>
                    <th></th>
                </tr>
                {% for vlan in vlans %}
                    <tr {% if loop.index is odd %}class="color"{% endif %}>
                        <td><a href="{{ path('vlan_edit', {'id': vlan.id }) }}">{{ vlan.number }}</a></td>
                        <td>{{ vlan.name }}</td>
                        <td>
                            {% for point in vlan.points %}
                                {{ point }}
                            {% endfor %}
                        </td>
                        <td>
                            <div class="edit-button-link m-2 text-nowrap">
                                <a href="{{ path('vlan_edit', {'id': vlan.id }) }}">
                                    <i class="fa fa-pencil-alt" aria-hidden="true"></i> Редактировать
                                </a>
                            </div>
                            <div class="edit-button-link m-2 text-nowrap">
                                {% if is_granted('ROLE_MODERATOR') %}
                                    <a class="delete-order-button" href="{{ path('vlan_delete', {'id': vlan.id }) }}" data-toggle="confirmation">
                                        <i class="fa fa-trash" aria-hidden="true"></i> Удалить
                                    </a>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="mt-2">
                {{ knp_pagination_render(vlans) }}
            </div>
        </div>
    </div>
{% endblock %}