<div style="font-size:1rem;">
    <p>{{ callerNumber }}</p>
    <p>
        Пользователь {{ userId }}<br>
        Рекомендуемый платеж {{ userRequirementPayment }}
        {{ userFullName }}<br>
        {{ userAddress }}<br>
    </p>
    <a class="bg-success" style="font-size:1.1rem;" href="{{ monCardUrl }}">Открыть карточку клиента</a><br>
    <a class="bg-info" style="font-size:1.1rem;" target="_blank" href="{{ bitrixCardUrl }}">Открыть карточку в Bitrix24</a>
</div>