{% if app.session.get('hide_block_last_orders') is defined and app.session.get('hide_block_last_orders') == true %}
    {% set hblo = true %}
{% endif %}
<div class="last-orders-container table-responsive-sm table-responsive">
    <table class="last-orders-table orders-table generic-table">
        <caption class="pt-0 pb-0">Прошлые заявки<div class="show-hide-button" id="last_orders">
                {% if hblo is defined %}
                    <i class="fa fa-plus" aria-hidden="true"></i>
                {% else %}
                    <i class="fa fa-minus" aria-hidden="true"></i>
                {% endif %}
            </div>
        </caption>
        {% if hblo is defined %}<thead style="display: none;">{% else %}<thead>{% endif %}
        <tr>
            <th>Номер</th>
            <th>Дата</th>
            <th>Комментарий</th>
            <th>Выполнил</th>
            <th>Статус</th>
            <th>Закрыл</th>
        </tr>
        </thead>

        {% if hblo is defined %}<tbody style="display: none;">{% else %}<tbody>{% endif %}
        {% for order in orders %}
        <tr {% if order.isDeleted == false %}class="open"{% endif %}>
            <td>{{ order.id }}</td>
            <td>{{ order.created|date('d-m-Y')}}</td>
            <td>
                {% if order.isDeleted == false %}
                    <div class="x-editable-order"
                         data-mode="inline"
                         data-type="textarea"
                         data-emptytext="комментарий не задан"
                         data-value="{{ order.comment }}"
                         data-pk="{{ order.id }}"
                         data-rows="0"
                         data-name="comment"
                         data-url="{{ path('order.change_editable_field') }}"
                    ></div>
                {% else %}
                    {{ order.comment }}
                {% endif %}
            </td>
            <td>
                {% if order.isDeleted == false %}
                    <div class="x-editable-order"
                         data-mode="inline"
                         data-type="select"
                         data-emptytext="Не назначена"
                         data-value="{{ order.executed is not null ? order.executed.id : '' }}"
                         data-pk="{{ order.id }}"
                         data-name="executed"
                         data-source="{{ path('order.get_employees') }}"
                         data-url="{{ path('order.change_editable_field') }}"
                    ></div>
                {% else %}
                    {{ order.executed is not empty?order.executed.fullName:'last_orders.no_data'|trans }}
                {% endif %}
            </td>
            <td>
                {% if order.isDeleted == false %}
                    <div class="x-editable-order"
                         data-mode="inline"
                         data-type="select"
                         data-value="{{ order.status.id }}"
                         data-pk="{{ order.id }}"
                         data-name="status"
                         data-source="{{ path('order.get_statuses') }}"
                         data-url="{{ path('order.change_editable_field') }}"
                    ></div>
                {% else %}
                    {{ order.status }}
                {% endif %}
            </td>
            <td>{{ order.isDeleted and order.deletedId is not empty?order.deletedId.fullName:'last_orders.no_data'|trans }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
