{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | {{ 'orders'|trans }}{% endblock %}

{% block context %}
    {{ edit is defined ? 'order.form.edit_header'|trans : 'order.form.add_header'|trans }}
{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <div class="row m-2 block-shadow-10 form-wrapper">
        <div class="col-12 ml-2">
            <h3>
                {{ edit is defined ? 'order.form.edit_header'|trans : 'order.form.add_header'|trans }}
            </h3>
            <div class="form-group row pl-3 pr-3">
                {% if form.vars.value.utmId is empty %}
                    {% do form.utmId.setRendered %}
                {% endif %}
                {% if form.vars.value.utmId is not empty %}
                    {{  form_label(form.utmId) }}
                {% endif %}
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-12">
                            {{ form_widget(form.utmId) }}
                        </div>
                        <div class="col-sm-12 form-text text-muted ml-4">
                            {{ form_errors(form.utmId) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row pl-3 pr-3">
                {{ form_label(form.fullname) }}
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-12">
                            {{ form_widget(form.fullname) }}
                        </div>
                        <div class="col-sm-12 form-text text-muted ml-4">
                            {{ form_errors(form.fullname) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row pl-3 pr-3">
                {{ form_label(form.address) }}
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-12">
                            {{ form_widget(form.address) }}
                        </div>
                        <div class="col-sm-12 form-text text-muted ml-4">
                            {{ form_errors(form.address) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row pl-3 pr-3">
                {% if form.vars.value.utmId is empty %}
                    {% do form.servername.setRendered %}
                {% endif %}
                {% if form.vars.value.utmId is not empty %}
                    {{ form_label(form.servername) }}
                {% endif %}
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-12">
                            {{ form_widget(form.servername) }}
                        </div>
                        <div class="col-sm-12 form-text text-muted ml-4">
                            {{ form_errors(form.servername) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row pl-3 pr-3">
                {% if form.vars.value.utmId is empty %}
                    {% do form.ip.setRendered %}
                {% endif %}
                {% if form.vars.value.utmId is not empty %}
                    {{ form_label(form.ip) }}
                {% endif %}
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-12">
                            {{ form_widget(form.ip) }}
                        </div>
                        <div class="col-sm-12 form-text text-muted ml-4">
                            {{ form_errors(form.ip) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row pl-3 pr-3">
                {{ form_label(form.comment) }}
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-12">
                            {{ form_widget(form.comment) }}
                        </div>
                        <div class="col-sm-12 form-text text-muted ml-4">
                            {{ form_errors(form.comment) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row pl-3 pr-3">
                {{ form_label(form.phone) }}
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-12">
                            {{ form_widget(form.phone) }}
                        </div>
                        <div class="col-sm-12 form-text text-muted ml-4">
                            {{ form_errors(form.phone) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row pl-3 pr-3">
                {{ form_label(form.executed) }}
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-12">
                            {{ form_widget(form.executed) }}
                        </div>
                        <div class="col-sm-12 form-text text-muted ml-4">
                            {{ form_errors(form.executed) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row pl-3 pr-3">
                {{ form_label(form.status) }}
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-12">
                            {{ form_widget(form.status) }}
                        </div>
                        <div class="col-sm-12 form-text text-muted ml-4">
                            {{ form_errors(form.status) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row pl-3 pr-3">
                <div class="col-sm-10">
                    {% if form.vars.value.utmId is empty %}
                        {% do form.saveandback.setRendered %}
                    {% endif %}
                    {{ form_widget(form.saveandback) }}
                    {{ form_widget(form.saveandlist) }}
                    {% if edit is defined %}
                        <div class="btn btn-primary btn-lg btn-primary-sham m-1">
                            <a data-toggle="confirmation" href="{{ path('intercom_delete', {'id': form.vars.value.id}) }}">
                                {{ 'task.form.delete'|trans }}
                            </a>
                        </div>
                    {% endif %}
                    <div class="btn btn-primary btn-lg btn-primary-sham m-1">
                        {% if form.vars.value.utmId is empty %}
                            <a href="{{ app.request.server.get('HTTP_REFERER') }}">
                        {% else %}
                            <a href="{{ path('search', {'type' : 'id', 'value': form.vars.value.utmId }) }}">
                        {% endif %}
                                {{ 'Back'|trans }}
                            </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
